<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# 下記で_form.html.erbを呼び出す %>
    <%# _form.html.erb内のyieldでは1行目のprovideで渡したシンボルに対応する値が使用される %>
    <%= render 'form' %>
  </div>
</div>